h1,
h2,
h4,
p {
    font-family: "Arvo", serif;
}

p {
    font-size: 17px;
    padding-left: 5px;
}

#intro {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.flash-message {
    animation: fade-out 5s ease;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}